:root {
  --corFundoDM:#0C134F;
  --corSecundariaDM:#5C469C;
  --corPrimariaDM:#1D267D;
  --corFonteDM:#D4ADFC;
}

.cabecalho,
.icone-estrela,
.rodape{
    background-color: var(--corSecundariaDM);
}
.cabecalho a,
.fa-moon,
.fa-sun {
    color: var(--corFonteDM);
}
