@import url(styles.css);
/* @import url(darkmode.css); */

/*Cabeçalho*/
.normal{
    background-color: var(--corSecundaria);
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    transition: 1s all;

    
}

/*MENU ESCONDIDO*/
.shrink{
    background-color: var(--corSecundaria);
    width: 100%;
    padding: 8px;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    transition: 1s all;
}

/*Logo*/
.cabecalho a{
    text-decoration: none;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: var(--corFonte);
}
/*Input*/
.cabecalho_nav input{
    width: 350px;
    height: 50px;
    padding: 0 8px;
    border-radius: 8px;
}
.cabecalho_nav input:hover,
.cabecalho_nav button:hover{
    border-style: double;
    border-color: rgb(37, 37, 218);
    cursor: pointer;
}
/*Botão*/
.cabecalho_nav button{
    width: 30px;
    height: 50px;
    border-radius: 8px;
}
/*Imagem perfil*/
.cabecalho img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


/*ícone dark mode*/
.darkmode{
    width: 50px;
    height: 50px;
}
.fa-moon{
    color: var(--corFonte);
    position: absolute;
    top: 15px;
    cursor: pointer;
    display: block;
    transition: 0.3s;
    height: 30px;
}
/* Esconder botao */
.hide{
    display: none;
}
/* Aparecer botao */
.show{
    display: block;

}
.fa-sun{
    color: var(--corFonte);
    position: absolute;
    top: 15px;
    cursor: pointer;
    transition: 1s;
    height: 30px;
    
}

/*Livros*/
.container{
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 70%;
    padding: 25px;
   
}
.container-livros{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 5px; 
    width: 100%;
    /* background-color: aqua; */
    
}
/*Avaliação livros*/
.avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icone-estrela{
    list-style: none;
    color: var(--corSecundaria);

}
.icone-estrela::before{
    content: "\2605";
    font-size: 18px;
}
.icone-estrela:hover{
    cursor: pointer;
}

/*adicionar estrela vazio nas posteriores ao hover*/
.icone-estrela.ativo ~ .icone-estrela::before{
    content: "\2606";
}

.avaliacao:hover ~ .icone-estrela::before{
    content: "\2605";
}
.icone-estrela:hover ~.icone-estrela::before{
    content: "\2606";
}




.livros{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.livros-estante{
    margin: 5px 0
}

.livros_img{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: auto;
    
}
.marcaLivro{
    display: block;
    bottom: 0px;
}

/*Rodapé*/
.rodape{
    background-color: var(--corSecundaria);
    width: 100%;
    padding: 8px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
}
.rodape a{
    text-decoration: none;
}
.rodape a:hover{
    color: #FFF;
}