@import url(styles.css);

/*Cabeçalho*/
.cabecalho{
    background-color: var(--corSecundaria);
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    
}
/*Logo*/
.cabecalho a{
    text-decoration: none;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: var(--corFonte);
}
/*Input*/
.cabecalho_nav input{
    width: 350px;
    height: 50px;
    padding: 0 8px;
    border-radius: 8px;
}
.cabecalho_nav input:hover,
.cabecalho_nav button:hover{
    border-style: double;
    border-color: rgb(37, 37, 218);
    cursor: pointer;
}
/*Botão*/
.cabecalho_nav button{
    width: 30px;
    height: 50px;
    border-radius: 8px;
}
/*Imagem perfil*/
.cabecalho img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/*ícone dark mode*/
.darkmode{
    border: 1px solid var(--corFonte);
    border-radius: 15px;
    padding: 5px;
    width: 25px;
}
.fa-moon{
    color: var(--corFonte);
    position: absolute;
    top: 25px;
    cursor: pointer;
    display: block;
}
.fa-sun{
    color: var(--corFonte);
    position: absolute;
    top: 25px;
    cursor: pointer;
    display: none;
    /* color um display none no modo inativo */
}

/*Livros*/
.container{
    display: flex;
    padding: 15px;
    gap: 10px;
}
.container-livros{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    
}
.livros{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.livros_img{
    width: 150px;
    height: 150px;
    margin: auto;
    
}
/* Menu lateral */
.menu_lateral{
    position: absolute;
    background-color: var(--corSecundaria);
    width: 170px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    right: 0px;
    top: 81px;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.096);
    
}
.lendo{
    background-color: var(--corSecundaria);
    top: 131px;
    
}
.desejo-ler{
    background-color: var(--corSecundaria);
    top: 181px;
}

/*Itens de lista do menu lateral*/
/* Botão ao do H1 :before? no click a ul contida aparece */

.menu_lateral_lista li{
    list-style: none;
    text-align: left;
    margin: 3px 0;
}

/* Fazer um hover, para quando o mouse passar em cima de algum menu ele se destaque dos outros */

/*Rodapé*/
.rodape{
    background-color: var(--corSecundaria);
    width: 100%;
    padding: 8px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
    position: absolute;
    bottom: 0px;
}
.rodape a{
    text-decoration: none;
}
.rodape a:hover{
    color: #FFF;
}